/* 
To make global variables:
:root {
	--text-color: #ddd;
}

body {
	To use variables:
	color: var(--text-color);
}
*/

body {
	background-color: white !important;
}

@media screen and (max-width: 992px) {
	.navbar-toggler {
		zoom: 200%;
	}
	nav {
		height: 6.5vh;
    }
	.navbar-toggler {
		outline: none !important;
		border: none;
	}
	#home-big-image {
		height: 40vh !important;
	}
	#home-image-400 {
		display: none;
	}
}

@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end {
		right: 0;
		left: auto;
	}

	.navbar .nav-item .dropdown-menu {
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: .3s;
		margin-top: 0;
	}

	/* .navbar .nav-item:hover .nav-link {
		color: #c9c9c9;
	} */

	.navbar .dropdown-menu.fade-down {
		top: 80%;
		transform: rotateX(-75deg);
		transform-origin: 0% 0%;
	}

	.navbar .dropdown-menu.fade-up {
		top: 180%;
	}

	.navbar .nav-item:hover .dropdown-menu {
		transition: .3s;
		opacity: 1;
		visibility: visible;
		top: 100%;
		transform: rotateX(0deg);
	}

	/* .navbar * .nav-item:hover {
		background-color: lightblue !important;
		
		
	} */

	#home-big-image {
		display: none;
	}

}

.prevent-select, .prevent-select * {
	-webkit-user-select: none;
		/* Safari */
	-ms-user-select: none;
		/* IE 10 and IE 11 */
	user-select: none;
		/* Standard syntax */
}